html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
 
    /* UI Properties */
    /*background: transparent url('../images/Trace51488.png') 0% 0% no-repeat padding-box;*/
    opacity: 1;
}
h2.titre-1 {
  left: 160px;
  width: 347px;
  height: 24px;
  text-align: center;
  font: normal normal bold 16px/21px Playfair Display;
  letter-spacing: 0px;
  color: #D6DA21;
  text-transform: uppercase;
  opacity: 1;
}
.layout_padding {
  /*padding: 75px 0;*/
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
}

.heading_container h2::before {
  content: url(../images/tulip.png);
  position: absolute;
  top: 50%;
  left: -35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*header section*/
.hero_area {
  /*min-height: 100vh;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 1;
  position: relative;
  height: 2024px;
  background-repeat: no-repeat;
  background-position: top right;
  background: transparent url(../images/Trace51488.png) 0% 0% no-repeat padding-box;
}
.img-header {
  top: -66px;
  left: 860px;
  width: 381px;
  height: 600px;
  opacity: 1;
  position: absolute;
}
.sub_page .hero_area {
  min-height: auto;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #93931A;
  text-align: center;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  position: relative;
}
.d-flex.justify-content-center h2 {
  text-align: center;
  font: normal normal 900 56px/75px Playfair Display;
  letter-spacing: 0px;
  color: #93931A;
  width: 642px;
  height: 82px;
  text-transform: uppercase;
  opacity: 1;
}
.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link::after {
  content: "";
  position: absolute;
  width: 75px;
  left: 50%;
  height: 2.5px;
  
  bottom: 8px;
  margin: 0 auto;
  display: block;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand span {
  font-family: 'Baloo Chettan', cursive;
  font-size: 24px;
  font-weight: 700;
  color: #191919;
  margin-top: 5px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 45px;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote_btn-container a {
  color: #050505;
}

.quote_btn-container a img {
  width: 15px;
  margin: 0 25px;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
 /* padding: 45px 0 75px 0;*/
}

.slider_section .slider_number-container {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 4%;
}

.slider_section .slider_number-container .number-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0b0a0b;
}

.slider_section .slider_number-container .number-box hr {
  border: none;
  width: 2px;
  height: 320px;
  background-color: #bcbcc0;
}

.slider_section .detail_box h2 {
  margin-bottom: 0;
}
.slider_section .detail_box1 a {
  display: inline-block;
    padding: 8px 85px;
    border: 1px solid #D4D4BB;
    border-radius: 25px;
    margin: 35px 0;
    width: 222px;
    height: 50px;
    background: transparent;
    text-align: left;
    font: normal normal bold 14px/19px Playfair Display;
    letter-spacing: 0.7px;
    color: #93931A;
    text-transform: uppercase;
    opacity: 1;
}
.detail_box1 span {
  left: 0px;
  width: 467px;
  height: 75px;
  text-align: left;
  font: normal normal 900 43px/75px Playfair Display;
  letter-spacing: 0px;
  color: #93931A;
  text-transform: uppercase;
}
.detail_box1 h2 {
  left: 0px;
  width: 439px;
  height: 75px;
  text-align: left;
  font: normal normal 900 56px/75px Playfair Display;
  letter-spacing: 0px;
  color: #5B5C2C;
  text-transform: uppercase;
}
.detail_box h2{
 top: 0px;
  left: 0px;
  width: 439px;
  height: 75px;
  text-align: left;
  font: normal normal 900 56px/75px Playfair Display;
  letter-spacing: 0px;
  color: #5B5C2C;
  text-transform: uppercase;
}
.detail_box h2,h2{
  /* Layout Properties */
    text-align: left;
    font: normal normal 900 48px/60px Playfair Display;
    letter-spacing: 0px;
    color: #D4D4BB;
    text-transform: uppercase;
    opacity: 1;
    left: 856px;
    width: 393px;
    height: 62px;
}
.detail_box p{
  /* 
    top: 406px;
    left: 160px;
    width: 540px;
    height: 50px;
  
    text-align: left;
    font: normal normal 300 16px/25px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1; */
}
.btn-discover{
  /* Layout Properties */
    top: 488px;
    left: 160px;
    width: 222px;
    height: 50px;
    /* UI Properties */
    background: #D4D4BB 0% 0% no-repeat padding-box;
    opacity: 1;
}
.btn-discover a{
  /* Layout Properties */
    top: 503px;
    left: 180px;
    width: 164px;
    height: 19px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 14px/19px Playfair Display;
    letter-spacing: 0.7px;
    color: #93931A;
    text-transform: uppercase;
    opacity: 1;
}
.slider_section .detail_box h1 {
  font-weight: 600;
  color: #e1603a;
  font-size: 5rem;
  margin-bottom: 30px;
}

.slider_section .detail_box a {
  display: inline-block;
  padding: 8px 85px;
  background-color: #0d0806;
  border: 1px solid #0d0806;
  color: #ffffff;
  border-radius: 25px;
  margin: 35px 0;
}

.slider_section .detail_box a:hover {
  background-color: transparent;
  color: #0d0806;
}

.slider_section .carousel_btn-container {
  width: 100px;
  position: absolute;
  bottom: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  left: 2%;
  z-index: 999;
  width: 288px;
  height: 69px;
  background: #5B5C2C 0% 0% no-repeat padding-box;
  opacity: 1;
}
.carousel-control-prev,
.carousel-control-next {

top: 40px!important;
}
.slider_section .carousel_btn-container .carousel-control-prev,
.slider_section .carousel_btn-container .carousel-control-next {
  position: relative;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  transform: translateY(-50%);
 
}
span.prev {
  margin-left: 74px;
}
span.next {
  margin-right: 74px;
}

.slider_section .carousel_btn-container .carousel-control-prev:hover,
.slider_section .carousel_btn-container .carousel-control-next:hover {
  /* background-color: #050505; */
}

.slider_section2 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 267px;
  
}
.slider_section2 .carousel_btn-container {
  width: 100px;
  position: absolute;
  bottom: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  left: 2%;
  z-index: 999;
  width: 288px;
  height: 69px;
  background: #5B5C2C 0% 0% no-repeat padding-box;
  opacity: 1;
}

li.nav-item.active {
  color: #93931A;
  font-weight: bold;
}
.slider_section .carousel_btn-container .carousel-control-prev {
  background-image: url(../images/prev.png);
}

.slider_section .carousel_btn-container .carousel-control-next {
  background-image: url(../images/next.png);
}

.about_section {
  padding: 78px 0;
  position: relative;
}

.about_section .section_number {
  display: block;
  position: absolute;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e1603a), to(#dc373d));
  background: linear-gradient(to bottom, #e1603a, #dc373d);
  right: 5%;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about_section .detail_box {
  text-align: right;
}
.justify-content-start p {
  text-align: left !important;
  font: normal normal 900 56px/75px Playfair Display !important;
  letter-spacing: 0px !important;
  color: #93931A !important;
  text-transform: uppercase !important;
  opacity: 1;
}
.about_section .detail_box p {
  /* margin: 35px 0; */
  text-align: left;
  font: normal normal 300 16px/25px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.about_section .img-box img {
  left: 160px;
  width: 426px;
  height: 457px;
  opacity: 1;
}
.readmore{
  display: block;
  margin-top: 36px;
}
.readmore span{
  font: normal normal bold 14px/19px Playfair Display;
    letter-spacing: 0.7px;
    color: #93931A;
    text-transform: uppercase;
    opacity: 1;
}
.why_section {
  text-align: center;
  color: #ffffff;
  background-image: url(../images/why-bg.jpg);
  background-size: cover;
  position: relative;
}
img.img-header2 {
  left: 380px;
  width: 965px;
  position: absolute;
  right: 50%;
  margin-right: 55px;
  height: 650px;
  /* background: transparent url(img/Pack Zembra bio.png) 0% 0% no-repeat padding-box; */
  opacity: 1;
}

.why_section .section_number {
  display: block;
  position: absolute;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e1603a), to(#dc373d));
  background: linear-gradient(to bottom, #e1603a, #dc373d);
  top: 0;
  left: 5%;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.why_section h2 {
  font-weight: bold;
}

.why_section p {
  margin: 60px 0;
}

.why_section a {
  display: inline-block;
  padding: 10px 55px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #e1603a;
  border-radius: 30px;
}

.why_section a:hover {
  background-color: transparent;
  color: #ffffff;
}

.gallery_section {
  position: relative;
}

.gallery_section::before, .gallery_section::after {
  position: absolute;
  content: "";
  width: 125px;
  height: 140px;
  background-image: url(../images/rose.png);
  background-size: cover;
}

.gallery_section::before {
  top: 3%;
  left: 5%;
}

.gallery_section::after {
  bottom: 0;
  right: 5%;
}

.gallery_section .section_number {
  display: block;
  position: absolute;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e1603a), to(#dc373d));
  background: linear-gradient(to bottom, #e1603a, #dc373d);
  top: 0;
  right: 5%;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.gallery_section .img_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}

.gallery_section .img_container .img-box {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.gallery_section .img_container .img-box:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.gallery_section .img_container img {
  width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.gallery_section .img_container .box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery_section .img_container .box-1 .box-1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery_section .img_container .box-1 .b-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery_section .img_container .box-1 .b-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery_section .img_container .box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.client_section {
  position: relative;
}

.client_section .heading_container {
  position: relative;
}

.client_section .heading_container .section_number {
  display: block;
  position: absolute;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e1603a), to(#dc373d));
  background: linear-gradient(to bottom, #e1603a, #dc373d);
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.client_section .container .row {
  padding-top: 75px;
}

.client_section .detail_box {
  position: relative;
  padding: 25px 25px 45px;
  border-radius: 100px;
  margin: 45px 0;
  border: 1px solid #ccc;
  color: #050505;
}

.client_section .detail_box:hover {
  color: #ffffff;
  background-color: #dc373d;
  border-color: transparent;
}

.client_section .detail_box .img_box {
  position: absolute;
  width: 115px;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.client_section .detail_box .img_box img {
  width: 100%;
}

.client_section .detail_box h5 {
  padding-left: 125px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 18px;
}

.arrange_section {
  padding: 10% 0;
  background-image: url(../images/arrangement.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.arrange_section .detail_box {
  width: 70%;
  margin: 0 auto;
  padding: 65px 30px;
  text-align: center;
  background-color: rgba(5, 5, 5, 0.6);
  color: #ffffff;
  border: 2px solid #b9b1ad;
}

.arrange_section .detail_box h2 {
  margin-bottom: 45px;
}
.col-md-4.mx-auto.contact{
  padding-left: 50px;
  background: #5F6031 0% 0% no-repeat padding-box;
}
.contact_section {
  position: relative;
  background-size: cover;
  background-position: center;
}

.contact_section .section_number {
  display: block;
  position: absolute;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e1603a), to(#dc373d));
  background: linear-gradient(to bottom, #e1603a, #dc373d);
  top: 0;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact_section h2 {
  margin-bottom: 0px;
}

.contact_section form {
  padding-right: 35px;
}
.heading_container.justify-content-start h3 {
  text-align: left;
  font: normal normal normal 32px/43px Playfair Display;
  letter-spacing: 0px;
  color: #5B5C2C;
  text-transform: uppercase;
  opacity: 1;
}
.contact_section input {
  width: 100%;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 25px;
    background-color: transparent;
    border: 1px solid #bbbbbb;
    outline: none;
    color: #101010;
    opacity: 1;
    border-bottom: 1px solid #D4D4BB;
    border-top: none;
    border-left: none;
    border-right: none;
}

.contact_section input::-webkit-input-placeholder {
  color: #131313;
}

.contact_section input:-ms-input-placeholder {
  color: #131313;
}

.contact_section input::-ms-input-placeholder {
  color: #131313;
}

.contact_section input::placeholder {
  color: #131313;
}

.contact_section input.message-box {
  height: 120px;
}

.contact_section button {
  width: 172px;
    height: 50px;
    background: TRANSPARENT;
    font: normal normal bold 14px/19px Playfair Display;
    letter-spacing: 0.7px;
    color: #D6DA21;
    text-transform: uppercase;
    opacity: 1;
}

.contact_section button:hover {
  color:#D6DA21;
  background-color: transparent;
}

.map_section .map_container {
  height: 375px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
}

.map_section .map_container .map {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.map_section .map_container .map #googleMap {
  height: 100%;
}

.info_section {
background: transparent url('../images/bg-footer.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #ffffff;
  background-size: cover;
}

.info_section h5 {
  margin-bottom: 20px;
  font-weight: 700;
}

.info_section .info_logo h5 {
  font-size: 38px;
  font-family: 'Baloo Chettan', cursive;
}

.info_links ul {
  padding-left: 15px;
}

.info_links ul .active::before {
  background-color: #e1603a;
}

/* .info_links ul .active a {
  color: #e1603a;
} */

.info_links ul li {
  list-style-type: none;
  position: relative;
  margin-bottom: 10px;
}

.info_links ul li::before {

  left: -15px;
  top: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.info_links.pl-lg-5 {
  margin-top: 49px;
}
.info_links ul li a {
  color: #ffffff;
}

.info_insta .insta_container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_insta .insta_container img {
  width: 100%;
}

.info_insta .insta_container .insta-box {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.info_insta .insta_container .b-1,
.info_insta .insta_container .b-3 {
  width: 50px;
}

.info_insta .insta_container .b-2,
.info_insta .insta_container .b-4 {
  width: 68px;
}

.info_contact > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info_contact > div img {
  width: 20px;
  height: auto;
  margin-right: 12px;
}
 /*barnd*/

.bg-product {
  width: 1726px;
  left: -134px;
  position: relative;
  height: 1619px;
  background: transparent url(../images/Groupe14265.png) 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: -5000000;
  margin-top: -183px;
}
.btn-oil {
  width: 347px;
  height: 40px;
  border: 1px solid #D6DA21;
  opacity: 1;
  text-align: center;
  text-align: center;
  font: normal normal bold 14px/19px Playfair Display;
  letter-spacing: 0.7px;
  color: #fff;
  text-transform: uppercase;
  opacity: 1;
}
.btn-pack {
  left: 162px;
  width: 215px;
  height: 50px;
 
  opacity: 1;
}
.btn-pack a {

left: 182px;
  width: 157px;
  height: 19px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 14px/19px Playfair Display;
  letter-spacing: 0.7px;
  color: #D6DA21;
  text-transform: uppercase;
  opacity: 1;
}
.carousel-indicators{
  z-index: -5555!important;
}
 
/* footer section*/
.footer_section {
  background-color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer_section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 239px;
  height: 217px;
  background-image: url(../images/flower.png);
  background-size: cover;
}

.footer_section p {
  border-top: 1px solid #ffffff;
  color: #ffffff;
  margin: 0;
  text-align: center;
  padding: 20px 35px;
  margin: 0;
  position: relative;
}

.footer_section a {
  color: #ffffff;
}

.d-flex.justify-content-start.copyright {
  position: relative;
  top: 21px;
}
footer.container-fluid {
  background: transparent linear-gradient(189deg, #CFCBB0 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  opacity: 0.57;
}
section.info_section.layout_padding p {
  font: normal normal 600 16px/25px Poppins;
  letter-spacing: 0px;
  color: #D4D4BB;
  text-transform: uppercase;
  opacity: 1;
}
.info_logo {
  position: absolute;
  top: 58px;
  left: 44px;
}
.info_contact {
  margin-top: 49px;
}
i.fa.fa-facebook {
  font-size: 18px;
  color: #D6DA21;
  margin-right: 5px;
}
i.fa.fa-twitter {
  font-size: 18px;
  color: #D6DA21;
  margin-right: 5px;
}
i.fa.fa-youtube-play {
  font-size: 18px;
  color: #D6DA21;
  margin-right: 5px;
}
i.fa.fa-instagram {
font-size: 18px;
  color:#D6DA21;
  margin-right: 5px;

}
.col-md-8.mx-auto.img {
  left: 160px;
  width: 656px;
  height: 453px;
  background: transparent url(../images/pexels-eberhard-grossgasteiger-691668.png) 0% 0% no-repeat padding-box;
  mix-blend-mode: luminosity;

 
}
.temoingage {
  margin: 125px;
    width: 57%;
    position: relative;
}
.tem-lien {
  top: 52%;
  position: absolute;
  left: 32%;
}
.tem-lien a {
  font: normal normal bold 16px/21px Playfair Display;
  letter-spacing: 0px;
  color: #D6DA21;
  text-transform: uppercase;
  opacity: 1;
}
/* newslettre  */
.form-subscribe {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.social {
  padding: 10px;
}

.form-subscribe .form-control {
  background-color: transparent;
  padding-left: 24px;
  padding-right: 24px;
  letter-spacing: 1px;
  border: none;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px
}

.form-subscribe .form-control.focus,
.form-subscribe .form-control:focus {
  z-index: 2;
  background-color: hsla(0, 0%, 100%, .8)
}


input.form-control.input-lg{
    width: 278px;
    height: 40px;
    border: 1px solid #D6DA21;
    border-radius: 10px;
    opacity: 1;
}
.form-subscribe .btn {
  width: 50px;
  height: 40px;
  background: #D6DA21 0% 0% no-repeat padding-box;
  border-radius: 0px 10px 10px 0px;
  opacity: 1;
}
.btn-success{
  border-color: transparent!important;
}
/*Responsive */
@media (max-width: 768px) 
{
.info_section {
    background: transparent url(../images/bg-footer.png);
    opacity: 1;
    background-size: cover;
  }
    .info_links ul {
    
      position: relative;
      top: 46px;
    }
        .info_logo {

          margin: auto;
          width: 75%;
        }
         .info_links.pl-lg-5 {
           margin-top: 62px;
                }
        .col-md-8.mx-auto.img {
         left: 0px;
        }
         .tem-lien {
             top: 68%;
              position: absolute;
               left: 39%;
                }
                .tem-lien a {
                  font: normal normal bold 16px/21px Playfair Display;
                  letter-spacing: 0px;
                  color: #D6DA21;
                  text-transform: uppercase;
                  opacity: 1;
                }
                                .slider_section .carousel_btn-container .carousel-control-prev,
                                .slider_section .carousel_btn-container .carousel-control-next {
                               
                                  margin-left: 61px !important;
                                  margin-right: 151px !important;
                                }
                                                                .about_section .img-box img {
                                                                 
                                                                  margin: auto;
                                                                  width: 95%;
                                                                }
}




